[submodule "hyperlane-registry"]
	path = hyperlane-registry
	url = https://github.com/fuel-infrastructure/hyperlane-registry.git
  branch = main

[submodule "hyperlane-monorepo"]
	path = hyperlane-monorepo
	url = https://github.com/fuel-infrastructure/hyperlane-monorepo.git
  branch = main
